<h1>Rereleasing a movie</h1>

<p>What's the new year for <strong><%= movie.title %> (<%= movie.year %>)</p>

<%= form_with html: { class: "form" }, url: movie_rereleases_path(movie.id) do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <br>
  <%= f.submit "Re-release" %>
<% end %>
